*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    background-color: mistyrose;
}
header, footer{
    height: 200px;
    text-align: center;
    overflow: hidden;
    clear: both;
}

section{
    background-color: plum;
    height: 400px;
    margin: 5px;
    box-shadow: 4px 4px 10px  dimgray;
    float: left;
    overflow: hidden;
}
@media only screen and (max-width: 800px){
    section{
        width: 100%;
    }
}
@media only screen  and (min-width: 800px){
    section{
        width: 22%;
    }
}
h2{
    text-align: center;
}
select:hover{
    background-color: #505050;
    color: white;
}
